<div id="app">
  <h1 class="title">Vue.js Pokemon Battle</h1>
  <!-- Begin battle scene -->
  <div class="battle-scene">
    <div class="box-top-left">
      <h2 class="pokemon">{{enemy.name}}</h2>
      <div class="hp-bar-top">
        <div class="hp-bar-fill" [style.width.%]="enemy.hp" ></div>
      </div>
      <h4 class="level">{{enemy.lvl}}</h4>
    </div>
    <div class="box-top-right">
      <img class="pokemon-top" [src]="enemy.url"/>
    </div>
    <div class="box-bottom-left">
      <img class="pokemon-bottom" [src]="ally.url"/>
    </div>
    <div class="box-bottom-right">
      <h2 class="pokemon">{{ally.name}}</h2>
      <div class="hp-bar-bottom">
        <div class="hp-bar-fill" [style.width.%]="ally.hp"></div>
      </div>
      <h4 class="level">{{ally.lvl}}</h4>
      <h4 class="hp">{{ally.hp}}</h4>
    </div>
    <div class="bottom-menu">
      <div class="battle-text text-box-left">
        {{message.battle_text}}
      </div>
      <div class="text-box-right">
        <h4 class="battle-text-top-left" (click)="doComp1()">{{message.comp_1}}</h4>
        <h4 class="battle-text-bottom-left" (click)="doComp2()">{{message.comp_2}}</h4>
        <h4 class="battle-text-top-right" (click)="doComp3()">{{message.comp_3}}</h4>
        <h4 class="battle-text-bottom-right" (click)="doComp4()">{{message.comp_4}}</h4>
      </div>
    </div>
